{% extends "index.html" %}
{% block content %}
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Selamat Datang 👋</p>
          <footer class="blockquote-footer">
            Ini
            <cite title="Source title">
              adalah website yang dibuat dengan Flask dan Bootstrap untuk mempelajari Fuzzy Logic.
              yaitu logika yang memungkinkan kita untuk membuat keputusan berdasarkan informasi yang tidak pasti.
              pada website ini kita akan belajar tentang Fuzzy Logic dan bagaimana cara mengimplementasikannya
              dengan studi kasus mencari jumlah produksi berdasarkan permintaan dan persediaan barang.
            </cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <h2 class="mb-2">Our Team</h2>
  
  <div class="col-md-3">
    <div class="card">
      <img src="" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Abd. Rahman Siddik</h5>
        <p class="card-text">2202310068</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img src="" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Nama</h5>
        <p class="card-text">Ke-1</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img src="" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Nama</h5>
        <p class="card-text">Ke-1</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img src="" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">Nama</h5>
        <p class="card-text">Ke-1</p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
